@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body{
	background-color: #ddd;
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	color: #444;
	width: 60%; 
	margin: 0 auto; padding: 2% 0;
}

section {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: solid 1px gray;
}

.page-container {
    width: 21cm;
    max-width: 100%;
    margin: 0 auto;
    padding: 2cm;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    flex: 1;
}

p {
    text-align: justify
}

h1, h2 {
    color: rgb(140, 76, 8);
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;

}

img {
	width : 30%;
}
.contato{
  text-decoration: none;
}

.check {
    color: red;
    margin-left: 5px;
}
.ok {
	color : green;
	margin-left: 5px;
}

section div h2 {
    color: black;
}

.texto-vermelho + ul {
    margin-top: 20px;
}

.texto-vermelho {
    color: red;
}
#destaque {
    background-color: black;
    font-weight: bold;
    color: white;
}

.container p {
    font-style: italic;
}

a:link {
    color: blue;
}   

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

input{
    width: 50%;
}
input:invalid {
    background-color: #ba0707;
}

input:valid {
    
    background-color: #91f5bd;
}

fieldset {
    background-color: #F5F5F5;
    border: 2px solid #CCCCCC;
    padding: 10px;
}

input[type="text"]::placeholder {
        color: #999999;
        font-style: italic;
    }
